# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Hold dependencies to push 
/node_modules

# Remove assets to push
/public/assets

# Can hold push of the dist also, but for this project adding dist
# ./dist